In [1]:
import pandas as pd
pd.set_option("display.max_rows", None)
from funcs.sims_S16 import simulate_probs

In [2]:
YEAR = 2025
sims = 1000
n = 100
input_dir = "processed_data"
output_dir = "output"

In [3]:
df = simulate_probs(input_dir, output_dir, YEAR, sims, n)

Simulations: 100
Simulations: 200
Simulations: 300
Simulations: 400
Simulations: 500
Simulations: 600
Simulations: 700
Simulations: 800
Simulations: 900
Simulations: 1000

In [11]:
df.sort_values(by = ["SEED"], ascending = True)

      YEAR          TEAM  SEED  ROUND     E8     F4  Finals  Champions
1141  2025        Auburn     1      0  0.676  0.474   0.304      0.181
1132  2025          Duke     1      0  0.606  0.357   0.258      0.143
1131  2025       Florida     1      0  0.594  0.436   0.280      0.150
1126  2025       Houston     1      0  0.519  0.318   0.188      0.098
1146  2025       Alabama     2      0  0.583  0.326   0.188      0.108
1113  2025  Michigan St.     2      0  0.453  0.165   0.080      0.028
1094  2025     Tennessee     2      0  0.533  0.304   0.128      0.077
1122  2025      Kentucky     3      0  0.467  0.180   0.062      0.018
1091  2025    Texas Tech     3      0  0.590  0.281   0.135      0.072
1143  2025       Arizona     4      0  0.394  0.134   0.066      0.023
1117  2025      Maryland     4      0  0.406  0.163   0.071      0.028
1101  2025        Purdue     4      0  0.481  0.199   0.051      0.019
1114  2025      Michigan     5      0  0.324  0.144   0.044      0.015
1138  2025           BYU     6      0  0.417  0.183   0.059      0.023
1112  2025   Mississippi     6      0  0.547  0.217   0.047      0.009
1142  2025      Arkansas    10      0  0.410  0.120   0.039      0.008